<!DOCTYPE html>
<html lang="en">

<head>
{% block head %}
        <!--Add my styles and Bootstrap styling-->
        <link rel="stylesheet" href="static/myStyles.css" />
        <link rel="stylesheet" href="static/bootstrap.min.css" />
        <title>Maxwell DeMaio - {% block title %}{% endblock %}</title>
        <meta name="description"
            content="Maxwell DeMaio's personal website. Here you can find out more about me, the projects I have completed, and the languages I speak/use." />
            
        <!--Bootstrap JS-->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
{% endblock %}
</head>

<body>
    <!--My navbar-->
    <div>
        {% block top %}
            <nav class="navbar sticky-top navbar-light bg-light navbar-expand-lg ">
                <a class="navbar-brand" href="{{ url_for('index') }}">Maxwell DeMaio</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
                    aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarText">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="{{ url_for('index') }}">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('software') }}">Software</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav justify-content-end">
                        <li>
                            <a class="nav-link" href="mailto:maxwell.demaio@gmail.com">Contact</a>
                        </li>
                    </ul>
                </div>
            </nav>
        {% endblock %}
    </div>

    <!--My content-->
    <main>
        {% block content %}{% endblock %}
    </main>

    <div class="container">
        <hr class="my-2">
    </div>
    
    <!--My footer-->
    <footer class="container">
        {% block footer %}
            <div id="myFooter">
                <span id="mySignature">&copy; {{ now.year }} Maxwell DeMaio</span>
                <a href="https://github.com/maxwelldemaio"><img src="../static/github.png" alt="Github icon"></a>
                <a href="https://www.linkedin.com/in/maxwell-demaio"><img src="../static/linkedin.png" alt="LinkedIn icon"></a>
                <a href="mailto:maxwell.demaio@gmail.com"><img src="../static/email.png" alt="Email icon"></a>
            </div>
        {% endblock %}
   </footer>

</body>

</html>