<!DOCTYPE html>
<html lang="en">

<head>
{% block head %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--Bootstrap CSS/JS-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.slim.min.js"
        integrity="sha512-/DXTXr6nQodMUiq+IUJYCt2PPOUjrHJ9wFrqpJ3XkgPNOZVfMok7cRw6CSxyCQxXn6ozlESsSh1/sMCTF1rL/g=="
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

    <!--My CSS-->
    <link rel="stylesheet" href="{{ static_url_for('static', filename='myStyles.css') }}" />
    <meta name="description"
        content="Maxwell DeMaio's personal website. Here you can find out more about me, the projects I have completed, and the tech stack I use." />
{% endblock %}
</head>

<body>
    <div>
        {% block top %}
            <!--My navbar-->
            <nav class="navbar fixed-top navbar-light bg-light navbar-expand-lg ">
                <a class="navbar-brand" href="{{ url_for('index') }}">Maxwell DeMaio</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
                    aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarText">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="{{ url_for('index') }}">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('software') }}">Software</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav justify-content-end">
                        <li>
                            <a class="nav-link" href="mailto:maxwell.demaio@gmail.com">Contact</a>
                        </li>
                    </ul>
                </div>
            </nav>
            <!--End of my navbar-->
        {% endblock %}
    </div>

    
    <main class="container">
        <!--My content-->
        {% block content %}{% endblock %}
        <!--End of my content-->

        <hr class="my-2">

        <footer>
            {% block footer %}
                <div>
                    <span id="mySignature">© {{ now.year }} Maxwell DeMaio</span>
                </div>
                <div>
                    <a href="https://github.com/maxwelldemaio"><img src="{{ static_url_for('static', filename='github.png') }}"
                            width="25px" height="25px" alt="Github icon"></a>
                    <a href="https://www.linkedin.com/in/maxwell-demaio"><img
                            src="{{ static_url_for('static', filename='linkedin.png') }}" width="25px" height="25px"
                            alt="LinkedIn icon"></a>
                    <a href="https://twitter.com/maxwelldemaio"><img src="{{ static_url_for('static', filename='twitter.png') }}"
                            width="25px" height="25px" alt="Twitter icon"></a>
                    <a href="https://www.youtube.com/channel/UCXzTmvY30ODYPrpVImJEVBQ"><img src="{{ static_url_for('static', filename='youtube.png') }}"
                            width="25px" height="25px" alt="YouTube"></a>
                    <a href="mailto:maxwell.demaio@gmail.com"><img src="{{ static_url_for('static', filename='email.png') }}"
                            width="25px" height="25px" alt="Email icon"></a>
                </div>
            {% endblock %}
        </footer>
        <!--End of my footer-->
    </main>
    

    </div>
    
   
</body>

</html>