{% extends "base.html" %}

{% block head %}
{{ super() }}
<title>Max DeMaio: Home</title>
{% endblock %}

{% block top %}
{{ super() }}
<div class="jumbotron jumbotron-fluid text-white" style="background-color: #333;">
    <div class="container">
        <div class="row d-flex flex-wrap align-items-center">
            <div class="col-md-8 p-4">
                <h1 class="display-1">Maxwell DeMaio</h1>
                <p class="lead">
                    Self-learning computer science,  
                    creating practical business solutions, and designing software architecture
                    through research & development.
                    Documenting the entire open source process.
                </p>
                <a href="{{ url_for('software') }}" class="btn btn-light btn-lg" role="button" aria-disabled="true">View my projects</a>
            </div>
            <div class="col-md-4 p-4">
                <img src="{{ static_url_for('static', filename='mePortfolioCircle.png') }}" 
                width="100%" height="100%" alt="Profile Picture">
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div>

    <h2>Hello, world.</h2>
    <p>
        Hi, I'm Max! I'm a graduate of URI, and my passions include business, language, and computer science.
        Currently, I'm working as an Audit Associate at <a href="https://kahnlitwin.com/" class="myLink">KLR</a>
        where I assist in financial statement
        drafting & compliance audits of <abbr title="Not-for-Profits">NFPs</abbr>, privately held companies,
        and <abbr title="Employee benefit plans">EBPs</abbr>. As a self-taught web developer, I'm working on
        growing my skills and gaining exposure to a variety of technology,
        whether that be through work or personal projects.
        When I'm not glued to my computer, I enjoy playing the guitar, chess, and learning languages.
    </p>
    <p>
        You can follow me on <a href="https://twitter.com/maxwelldemaio" class="myLink">Twitter</a>
        where I mostly tweet about technology and business. Most of my work is open source
        and publicly available on <a href="https://github.com/maxwelldemaio" class="myLink">GitHub</a>.
        Feel free to reach out and contact me at any of the links on my website.
    </p>
        
    

</div>
{% endblock %}

{% block footer %}
{{ super() }}
{% endblock %}