{% extends "base.html" %}
{% block title %}Index{% endblock %}

{% block head %}
{{ super() }}
{% endblock %}

{% block top %}
{{ super() }}
<div class="jumbotron jumbotron-fluid text-white" style="background-color: #333;">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h1 class="display-1">Maxwell DeMaio</h1>
                <p class="lead">
                    Self-learning business, computer science, and language through research & development.
                    Filming the entire process on YouTube.
                </p>
                <button type="button" class="btn btn-light">View my projects</button>
            </div>
            <div class="col-md-4 p-4">
                <img class="w-100 rounded-circle" src="../static/mePortfolio.jpg" alt="Profile Picture">
            </div>
        </div>

    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">

    <h2>Hello, world.</h2>
    <p>
        Hi, I'm Max! I'm a graduate of URI, and my passions include business, language, and computer science.
        Currently, I'm working as an Audit Associate at <a href="https://kahnlitwin.com/" class="myLink">KLR</a>
        where I assist in financial statement
        drafting & compliance audits of <abbr title="Not-for-Profits">NFPs</abbr>, privately held companies,
        and <abbr title="Employee benefit plans">EBPs</abbr>. As a self-taught web developer, I'm working on
        growing my skills and gaining exposure to a variety of technology,
        whether that be through work or personal projects.
        When I'm not glued to my computer, I enjoy playing the guitar, chess, and learning languages.
        Feel free to reach out and contact me at any of the links below.
    </p>

    <hr>

</div>
{% endblock %}

{% block footer %}
{{ super() }}
{% endblock %}