{% extends "base.html" %}

{% block head %}
{{ super() }}
<title>Max DeMaio: 404</title>
<style>
    /* Reverse usual style where main has a top margin */
    main {
        margin-top: 0px;
    }

    .error-template {
        text-align: center;
    }

    .error-actions {
        margin-top: 15px;
        margin-bottom: 15px;
    }

</style>
{% endblock %}

{% block top %}
{{ super() }}
{% endblock %}

{% block content %}
<div class="jumbotron jumbotron-fluid text-white" style="background-color: #333;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="error-template">
                    <h1 class="display-1">Oops!</h1>
                    <h2 class="display-2">404 Not Found</h2>
                    <div class="lead">
                        Sorry, an error has occured, Requested page not found!
                    </div>
                    <div class="error-actions">
                        <a href="{{ url_for('index') }}" class="btn btn-primary btn-lg"><span
                                class="glyphicon glyphicon-home"></span>Take Me Home </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block footer %}
{{ super() }}
{% endblock %}