{% extends "base.html" %}
{% block title %}Software{% endblock %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css">
<script type="text/javascript" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>

<script>
    $(document).ready(function () {
        $('#myTable').DataTable();
    });
</script>

{% endblock %}

{% block top %}
{{ super() }}
{% endblock %}

{% block content %}
    <div class="container">

        <!--My featured projects-->
        <div class="myFeature">
            <h2>Featured Projects. <span class="lead">My top picks.</span></h2>
            <div class="row">

                <div class="col-sm">
                    <h3>LangLab</h3>
                    <p>
                        <a href="https://github.com/maxwelldemaio/langlab" class="myLink">LangLab</a> is a free
                        and open source language learning
                        website that allows users to
                        practice the conjugations of the 25 most common verbs in a target language. Helpful
                        resources have also been
                        provided to help learners on their path.
                    </p>
                </div>

                <div class="col-sm">
                    <h3>Network</h3>
                    <p>
                        <a href="https://github.com/maxwelldemaio/Network" class="myLink">Network</a> is a
                        Twitter-esque social network website for
                        making posts and following users built
                        with Django and jQuery. Once signed in, one can create/like posts and follow other users
                        for a more
                        personalized
                        social feed.
                    </p>
                </div>

                <div class="col-sm">
                    <h3>Flack</h3>
                    <p>
                        <a href="https://github.com/maxwelldemaio/Flack" class="myLink">Flack</a> is an online
                        messaging service built with
                        Flask-SocketIO where
                        one can send and receive messages in real time. Users can choose a display name, create
                        channels to
                        communicate
                        in, as well as see and join
                        existing channels.
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="col-sm">
                    <h3>Wiki</h3>
                    <p>
                        <a href="https://github.com/maxwelldemaio/wiki" class="myLink">Wiki</a> is a
                        Wikipedia-like online encyclopedia
                        that allows users to view, create, and edit entries. When looking at an entry's page,
                        the entry (stored in
                        Markdown) is converted to HTML.
                    </p>
                </div>

                <div class="col-sm">
                    <h3>Book Fox</h3>
                    <p>
                        <a href="https://github.com/maxwelldemaio/bookFox" class="myLink">Book Fox</a> is a
                        book review web application where one can search for books, leave reviews for individual
                        books,
                        and see the reviews made by other people through the use of Goodreads' API.
                    </p>
                </div>

                <div class="col-sm">
                    <h3>Finance</h3>
                    <p>
                        <a href="https://github.com/maxwelldemaio/finance" class="myLink">Finance</a> is a
                        business application
                        via which you can manage portfolios of stocks, check stock prices, and buy/sell stocks
                        utlizing IEX's API.
                        Also,
                        with Chart.js users
                        can view a pie chart of their portfolio distribution.
                    </p>
                </div>
            </div>
        </div>
        <!--End of my featured projects-->

        
        <!--My software repository-->
        <div class="myFeature">
            <h2>Software Repository. <span class="lead">All my software in one place.</span></h2>
            <div class="table-responsive">
                <table id="myTable">
                    <caption>View all of my projects on <a href="https://github.com/maxwelldemaio" class="myLink">GitHub</a></caption>
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Title</th>
                            <th scope="col">Description</th>
                            <th scope="col">Language</th>
                            <th scope="col">Created at</th>
                            <th scope="col">Forks</th>
                            <th scope="col">Open issues</th>
                            <th scope="col">Size (kb)</th>
                            <th scope="col">Stars</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for dict_item in myRepos %}
                            <tr>
                                <th scope="row">{{ loop.index }}</th>
                                <td><a href="{{dict_item.url}}" class="myLink">{{dict_item.name}}</a></td>
                                <td>{{dict_item.description}}</td>
                                <td>{{dict_item.language}}</td>
                                <td>{{dict_item.creation}}</td>
                                <td>{{dict_item.forks}}</td>
                                <td>{{dict_item.issues}}</td>
                                <td>{{dict_item.size}}</td>
                                <td>{{dict_item.stars}}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <!--End of my software repository-->

        <!--My tech stack-->
        <div class="myFeature">
            <h2>Tech Stack. <span class="lead">How I build web and business architecture.</span></h2>
            <ul class="list-group list-group-flush list-group-mine">
                <li class="list-group-item list-group-item-action"><strong>Languages:</strong> Python, SQL,
                    HTML, CSS, Javascript, VBA</li>
                <li class="list-group-item list-group-item-action"><strong>Frameworks and Libraries:</strong>
                    Django, Flask, Bootstrap</li>
                <li class="list-group-item list-group-item-action"><strong>Tools:</strong> Git, Markdown, MS
                    Office</li>
            </ul>
        </div>
        <!--End of my tech stack-->

        <hr>
    
    </div>

{% endblock %}

{% block footer %}
{{ super() }}
{% endblock %}